.wrapper {
  background-color: var(--bg-navbar);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.wrapperLink {
  display: flex;
  gap: 20px;
}

.right {
  display: flex;
  align-items: center;
  gap: 20px;
}
